divisas.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="cantidad" type="tipoCantidad"/>
    <xsd:complexType name="tipoCantidad">
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="divisa" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="tipoDivisa">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="euros"/>
            <xsd:enumeration value="dolares"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>